org: joelcayllahua
service: api-comentario

provider:
  name: aws
  runtime: python3.13
  memorySize: 1024
  timeout: 20

  # Si tu lab te obliga a usar LabRole, lo dejamos.
  iam:
    role: arn:aws:iam::791880057952:role/LabRole

  environment:
    TABLE_NAME: ${sls:stage}-t_comentarios
    # Nombre único por cuenta/región/stage (evita choques globales de S3)
    INGEST_BUCKET: ${self:service}-${sls:stage}-${aws:accountId}-ingesta

functions:
  crear:
    handler: comentario.lambda_handler
    events:
      - http:
          path: /comentario/crear
          method: post
          cors: true
          integration: lambda

resources:
  Resources:

    # ---------- DynamoDB ----------
    TablaComentarios:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_NAME}
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: uuid
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: uuid
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    # ---------- S3: Bucket de ingesta por stage ----------
    IngestBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.INGEST_BUCKET}
        BlockPublicAccess:
          BlockPublicAcls: true
          BlockPublicPolicy: true
          IgnorePublicAcls: true
          RestrictPublicBuckets: true
        VersioningConfiguration:
          Status: Suspended
      DeletionPolicy: Retain

    # ---------- S3 Bucket Policy: conceder PutObject al LabRole ----------
    IngestBucketPolicy:
      Type: AWS::S3::BucketPolicy
      Properties:
        Bucket: !Ref IngestBucket
        PolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Sid: AllowLabRolePut
              Effect: Allow
              Principal:
                AWS: arn:aws:iam::791880057952:role/LabRole
              Action:
                - s3:PutObject
              Resource:
                - arn:aws:s3:::${self:provider.environment.INGEST_BUCKET}/*
